*.iml
.idea/
/out/
/target/classes/fr/BiggestNumber.class
/target/classes/fr/FindMostNumber.class
/target/classes/fr/IntersectionArray.class
/target/classes/fr/IsPrimeNumber.class
/target/classes/fr/MergeArray.class
/target/classes/fr/Prime.class
/target/classes/fr/Test.class
/target/classes/fr/WordSort.class
/target/classes/sort/BubbleSort.class
/target/classes/sort/BubbleTurboSort.class
/target/classes/sort/Insertion.class
/target/classes/sort/Selection.class
/target/classes/sort/Shell.class
/target/classes/sort/SortTest.class
/target/classes/sort/SuperSort.class
